/* Base Application Styles */
.name-container{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}
#name{
	width: 0;
	transition: .9s cubic-bezier(0.96, 0.05, 0.57, 1.2);
	z-index: 0;
  background: #222;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;

	h1{
		padding-left: 30px;
		display: block;
		color: white;
		font-size: 130px;
		line-height: 30px;
	}
}
