$spacing: 1.8%;
$foreColor: rgb(240, 240, 240);
$contrast: rgb(40, 40, 40);

$transition: 1.5s cubic-bezier(0.59, 0.14, 0.57, 1.2);


#audio-container {
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	padding: $spacing;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	// background: #c78584;
}

#audio-header {
	text-align: left;
	color: $foreColor;
	font-size: 90px;
	letter-spacing: -6px;
	margin-top: 0;
	border-bottom: 10px solid $foreColor;
	width: 100%;
	float: left;
	padding-bottom: 10px;
	a {
		transition: 100ms;
		text-decoration: none;
		font-weight: normal;
		&:hover {
			-webkit-filter: brightness(115%) saturate(70%);
		}
	}
}

#title {
	color: $contrast;
	font-size: 60px;
	letter-spacing: -3px;
	line-height: 1;
}

#next {
	font-size: 60px;
	letter-spacing: -3px;
	color: $foreColor;
	cursor: pointer;
	opacity: 0.5;
	transition: 300ms;

	& + p {
		opacity: 0;
		transition: 300ms;
	}

	&:hover {
		opacity: 1;

		&+p {
			opacity: 1;
		}
	}
}

.fore {
	color: $foreColor;
}

.graphic-square {
	width: 100%;
	height: auto;
	padding-top: 100%;
	background: $foreColor;
	transition: $transition;
	position: relative;
	overflow: hidden;
	// border: 1px solid transparent;

	&:first-of-type {
		margin-bottom: 10%;
		// transform: rotate(30deg);
	}

	&.ghosts {
		border-top-right-radius: 50%;
		border-top-left-radius: 50%;
	}

	&.ballet {
		width: 25%;
		transform-origin: bottom right;

	}


	&.woods {
		width: 50%;
	}
}

.row:nth-of-type(2) {
	.grid:first-of-type .ballet {
		transform-origin: top right;
		transform: rotate(-45deg);
	}
	.grid:nth-of-type(2) .ballet {
		transform-origin: center left;
		transform: rotate(45deg);
	}
}
.row:nth-of-type(3) {
	.grid:first-of-type .ballet {
		transform: rotate(45deg);
		transform-origin: bottom right;

	}
	.grid:nth-of-type(2) .ballet {
		// transform: rotate(90deg);
		transform-origin: center left;
		transform: rotate(-45deg);
	}
}





.fill {
	transition: all 800ms ease;
	background: #282828;
	width: 100%;
	bottom: 0;
	position: absolute;
	// border-top: rgb(80, 80, 80) solid 5px;
}
