/* Base Application Styles */
$paleOrange: #fff1e7;
$darkGray: #2d2d2d;

#choices{
	overflow: hidden;
	width: 100% !important;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	position: absolute !important;
	height: 100% !important;
	top: 0;
	padding-top: 180px;
	box-sizing: border-box;
	// padding-left: 20px;
	padding-bottom: 20px;
}

.choice{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	background-color: $darkGray;
	color: $paleOrange;
	text-align: center;
	line-height: 0.9;
	cursor: pointer;
	font-size: 25px;
	letter-spacing: -2px;
	transition: .4s cubic-bezier(0, 1, 0.65, 0.99);
	text-decoration: none;
	border: 5px solid $darkGray;
	-webkit-transform: rotate(-30deg);

	&:hover{
		color: $darkGray;
		justify-content: left !important;
		// border-color: $paleOrange;

		&:nth-of-type(1) {
			background-color: #eac3a7;
		}
		&:nth-of-type(2) {
			background-color: #c78584;
		}
		&:nth-of-type(3) {
			background-color: #8497c7;
		}
		-webkit-transform: rotate(0deg);
	}
	span{
		text-align: left;
		display: inline-block;

	}
}
