/* Base Application Styles */
$paleOrange: #fff1e7;
$darkGray: #2d2d2d;

#choices{
	overflow: hidden;
	// width: 100% !important;
	display: flex;
	align-items: center;
	justify-content: space-around;
	// position: absolute !important;
	height: 100% !important;
	overflow: visible;
}

.choice{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background-color: $darkGray;
	color: $paleOrange;
	text-align: center;
	line-height: 0.9;
	cursor: pointer;
	font-size: 40px;
	letter-spacing: -3px;
	transition: .4s cubic-bezier(0, 1, 0.65, 0.99);
	text-decoration: none;
	border: 5px solid $darkGray;
	-webkit-transform: rotate(-30deg);
	margin-left: 40px;
	margin-right: 20px;

	&:hover{
		color: $darkGray;
		justify-content: left !important;
		// border-color: $paleOrange;

		&:nth-of-type(1) {
			// background-color: #eac3a7;
			background-color: #98bd98;
		}
		&:nth-of-type(2) {
			background-color: #c78584;
		}
		&:nth-of-type(3) {
			background-color: #8497c7;
		}
		-webkit-transform: rotate(0deg);
	}
	span{
		text-align: left;
		display: inline-block;

	}
}
