@font-face {
  font-family: 'GT-Walsheim';
  src: url('../fonts/GT-Walsheim-Pro-Trial-Regular.otf');
	font-weight: 300;
}
@font-face {
  font-family: 'GT-Walsheim';
  src: url('../fonts/GT-Walsheim-Pro-Trial-Medium.otf');
	font-weight: 400;
}
body{

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 100vh;

	 #app{
		width: 100%;
		height: 100%;
	}

	@media screen and (max-width: 480px) {
		display: block;
	}
}
a{
	cursor: pointer;
}

#background{
	transition: 3.0s cubic-bezier(0.59, 0.14, 0.54, 1.00);
	top: 0;
	z-index: -1;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;

	background-image: url("../images/background_web.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&.loaded{
		-webkit-filter: blur(4px) brightness(63%);
	}

	@media screen and (max-width: 480px){
		min-height: 736px;
	}
}

#pic-container{
	float: left;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	clear: both;
	@media screen and (max-width: 480px) {
		display: block;
		text-align: center;
	}
}

#pic{
	cursor: pointer;
	height: 400px;
	width: 400px;
	max-width: 30vw;
	max-height: 30vw;
	opacity: 0;
	transition: opacity 3.0s cubic-bezier(0.59, 0.14, 0.54, 1.67), -webkit-filter 0.25s, border-width .15s;
	display: block;
	background-color: black;
	border-radius: 50%;

	background-image: url('../images/fashion.jpg');
	background-size: cover;
	background-position: 0% 0%;

	border: 10px solid #fffdfb;
	&.loaded{
		opacity: 1;
	}
	&:hover{
		-webkit-filter: brightness(120%);
		border-width: 4px;
	}

	@media screen and (max-width: 480px) {
		max-width: 85vw;
		max-height:  85vw;
		display: inline-block;
	}
}


#gray-box{
	display: flex;
  flex-flow: column;
	font-family: 'GT-Walsheim';
	font-weight: 400;
	width: 360px;
	// height: 202px;
	z-index: 0;
  background: #2c2c2e;
	padding-top: 20px;
	padding-bottom: 0px;
	overflow: hidden;
	box-sizing: border-box;

	position: absolute;
	top: 20px;
	left: 20px;

	@media screen and (max-width: 480px){
		width: 90%;
		float: left;
		display: block;
		position: relative;
		top: 0;
		left: 0;
		margin-top: 5%;
		margin-left: 5%;
		margin-bottom: 10%;
	}

	#name{
			transition: .7s;
			display: block;
			color: white;
			font-size: 90px;
			margin: 0;
			line-height: .9;
			padding: 0px 20px 0px 20px;
			font-weight: 400;
			transition: .4s;
			text-decoration: none;
		}
	h2 {
		transition: .7s;
		color: white;
		font-weight: 300;
		font-size: 18px;
		margin: 5px 20px 15px 0px;
		opacity: 0;
		letter-spacing: -0.06em;
		cursor: progress;
	}

	&.loaded{
		h2{
			opacity: 0.4;
			margin-left: 25px;
			&:hover{
				color: #ffc886;
				opacity: 1.0;
			}
		}
		#name{
			letter-spacing: -0.06em;
			&:hover{
				letter-spacing: 0px;
			}
		}
	}

}
