@font-face {
  font-family: 'GT-Walsheim';
  src: url('../fonts/GT-Walsheim-Pro-Trial-Regular.otf');
	font-weight: 300;
}
@font-face {
  font-family: 'GT-Walsheim';
  src: url('../fonts/GT-Walsheim-Pro-Trial-Medium.otf');
	font-weight: 400;
}
body{
	background-image: url("preview.png")
}
